<link rel="stylesheet" href="app/assets/css/aprendareciclar.css">
<div class="container-fluid">
    <div class="row mt-5    ">
        <h2 class="col-12 text-center card-title">{{titulo}}</h2>
    </div>
    <div class="row justify-content-center mb-5">
        <form id="formPesquisa" class="col-10 card p-3 ">
            <label for="inputPesquisa" class="form-label">O que gostaria de aprender a reciclar hoje?</label>
            <div class="input-group mb-3">
                <input id="inputPesquisa" type="text" class="form-control" placeholder="Ex: latinha de alumínio" aria-label="Ex: latinha de alumínio">
                <button data-bs-toggle="tooltip" data-bs-title="Pesquisar" class="btn btn-outline-success" type="submit" id="pesquisar"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
    <div class="container mb-5">
        <div id="divResposta" class="row justify-content-center ">
        
        </div>    
    </div>
</div>

<!-- Aqui é carregado o modal de validação -->
<div id="listaModal"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="app/assets/js/aprendareciclar.js"></script>
