<link rel="stylesheet" href="app/assets/css/noticias.css" />

<div class="noticias-container">
  <div class="cabecalho-noticia">
    <h2 class="titulo">Notícias</h2>
  </div>

  <div id="card-container" class="row g-4 justify-content-center"></div>
</div>

<script>
  const cardConatainer = document.getElementById("card-container");
  let noticias = [];
  let quantidade = 12;

  function tituloValido(noticia) {
    return noticia.title && noticia.title !== 'null' && noticia.title.trim() !== '';
  }

  function carregarCards(noticias, quantidade) {
    cardConatainer.innerHTML = '';

    // Filtra apenas as notícias com título válido
    const noticiasValidas = noticias.filter(tituloValido).slice(0, quantidade);

    noticiasValidas.forEach((item) => {
      const titulo = item.title;
      const descricao = item.description || 'Descrição não disponível';

      const cardHTML = `
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card-noticia h-100">
            <img src="${item.urlToImage}" alt="Imagem do card" class="img-top" />
            <h3 class="card-title">${titulo}</h3>
            <p class="card-text">${descricao}</p>
            <a href="descricao?title=${encodeURIComponent(titulo)}" class="btn-read">Ver mais</a>
          </div>
        </div>`;
      cardConatainer.innerHTML += cardHTML;
    });
  }


  async function reqApiNoticias() {
    const post = { action: "news", assunto: "reciclagem" };
    const response = await fetch('/eco-gestor/src/app/Services/EndPointAPIs.php', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(post)
    });

    const data = await response.json();
    return data.noticias;
  }

  (async () => {
    noticias = await reqApiNoticias();
    carregarCards(noticias, quantidade);
  })();
</script>
