<link rel="stylesheet" href="app/assets/css/noticias.css" />
<div class="container">
  <h2>Teste</h2>
  <p class="descricao">{{descricao}}</p>
  <div id="card-container">
  </div>
  <a href="{{URL}}/descricao">Link Tela Descrição Arthur</a>
</div>
<script>
  const cardConatainer = document.getElementById("card-container");
  let noticias = [];

  function carregarCards(noticias){
    noticias.forEach((item) => {
      cardHTML = `
    <div class="card"><h5>${item.titulo}</h5>
          <img src="app/assets/images/Reciclagem1.png" alt="Imagem do card"style="width: 100%; border-radius: 8px; margin-bottom: 12px;"/> 
        <div id=div-button>
            <p>${item.descricao}</p>
            <a href="descricao/${item.id}" class="btn btn-primary">Ver mais</a>
        </div>
        </div>
    </div>`;
      cardConatainer.innerHTML += cardHTML;
    })
  }

  async function reqApiNoticias(){
  }

  //Requisicao API await
  await reqApiNoticias();

  carregarCards(noticias);
</script>
