<link rel="stylesheet" href="app/assets/css/sobrenos.css" />

<section class="sobre-secao">
  <div class="sobre-container">
    <div class="sobre-texto">
      <h2>{{titulo}}</h2>
      <p>{{descricao1}}</p>
      <p>{{descricao2}}</p>
      <p>{{descricao3}}</p>
      <p>{{descricao4}}</p>
      <p>{{descricao5}}</p>
      <p>{{descricao6}}</p>
      <p>{{descricao7}}</p>
    </div>

    <!-- Imagens empilhadas verticalmente -->
    <div class="sobre-coluna-imagens">
      <img src="app/assets/images/sobre.png" alt="Imagem institucional" class="imagem-sobre">
      <img src="app/assets/images/logo-ecogestor.png" alt="Logo EcoGestor" class="imagem-sobre">
    </div>
  </div>
</section>
